@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #f2fdff;
  --secondary-color: #00b4d7;
  --tertiary-color: #48cae4;
  --font-color-primary: #606060;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== Scrollbar ================== */
html::-webkit-scrollbar {
  background-color: var(--primary-color) !important;
  width: 16px !important;
}

html::-webkit-scrollbar-track {
  background-color: var(--primary-color) !important;
}

html::-webkit-scrollbar-thumb {
  border-radius: 16px !important;
  border: 4px solid var(--primary-color) !important;
  background: var(--secondary-color);
}

html::-webkit-scrollbar-button {
  display: none !important;
  padding: 50px 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color) !important;
  border-radius: 16px !important;
  border: 5px solid var(--primary-color) !important;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color) !important;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color) !important;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--secondary-color) var(--primary-color);
    scrollbar-width: auto;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

/* =========== Navbar =========== */
.navbar {
  height: 14vh;
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  /* background-color: blueviolet !important; */

}

.navbar-brand img {
  width: 12vw;
}

.navbar .container-fluid {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.container-fluid .navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg .navbar-nav {
  gap: 3vw;
}


.navbar-nav .btn-mobile {
  display: none;

}

li>.nav-link {
  position: relative;
  color: var(--font-color-primary);
  text-decoration: none;
  font-weight: 600;
}

li .nav-link:hover {
  color: var(--font-color-primary);
}

li>.nav-link:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2%;
  bottom: 0;
  left: 26%;
  border-bottom: 3px solid var(--secondary-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li>.nav-link:hover:before {
  padding-bottom: 5px;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* From cssbuttons.io */
.button-contact .btn {
  font-family: inherit;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 10em;
  padding: 10px 0;
  height: 3em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 15px;
  border-radius: 25em;
  font-weight: 500;
  color: #fff;
}

.button-contact .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button-contact .btn:hover {
  color: var(--secondary-color);
}

.button-contact .btn:before {
  bottom: 100%;
  right: 100%;
  transition: all 0.7s;
}

.button-contact .btn:hover:before {
  bottom: -30px;
  right: -30px;
}

/* .button-contact .btn:active:before {
  background: var(--secondary-color);
  transition: background 0s;
} */

/* ========== Section Hero ========== */
#hero {
  height: 100vh;
  padding-top: 7rem;
}

.wrapper-image__hero {
  position: relative;
  height: 100%;
}

.wrapper-image__hero .absolute-image {
  width: 8vw;
  position: absolute;
}

.wrapper-image__hero .tech {
  width: 25vw;
  right: 0;
  top: -7em;
}

.wrapper-image__hero .atom-left {
  width: 27vw;
  top: 29vh;
  left: 6vw;
}

.wrapper-image__hero .laptop-image {
  top: 28vh;
  left: 8vw;
}

.wrapper-image__hero .search-image {
  top: 53vh;
  left: 22vw;
}

.wrapper-image__hero .globe-image {
  top: 45vh;
  right: 13vw;
  width: 12vw;
}

.flex-img {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.flex-img .hero-image {
  width: 16vw;
}




@media only screen and (max-width: 991px) {

  /* ======= Navbar ========= */
  .navbar {
    height: auto;
    background-color: var(--primary-color) !important;
  }

  .navbar-brand img {
    width: 7em;
  }

  .navbar-light .navbar-toggler {
    color: #00B4D7;
    border: none;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar-expand-lg .navbar-nav {
    margin-top: 1.5em;
  }

  .navbar-expand-lg .nav-item {
    margin-top: 0.5em;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
  }

  .navbar-nav .btn-mobile {
    display: inline-block;

  }

  .navbar .container-fluid {
    justify-content: space-between;
    padding: 0 10vw;
  }

  li>.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--secondary-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }



  /* From cssbuttons.io */
  .button-contact .btn-list {
    font-family: inherit;
    display: inline-block;
    background-color: var(--secondary-color);
    width: 100%;
    padding: .8em 0;
    height: 3.4em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--secondary-color);
    transition: color 0.5s;
    z-index: 1;
    font-size: .9em;
    border-radius: 25em;
    font-weight: 500;
    color: #fff;
  }

  .button-contact .btn-list:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 106px;
    width: 120%;
    border-radius: 50%;
  }


  .button-contact .btn-list:before {
    bottom: 100%;
    right: 100%;
    transition: all 0.7s;
  }

  .button-contact .btn-list:hover:before {
    bottom: -30px;
    right: -30px;
  }

  .button-contact {
    display: none;
  }

  /* ========== Section Hero ========== */
  #hero {
    padding-top: 7vw;
  }

  .wrapper-image__hero .absolute-image {
    width: 17vw;
  }

  .wrapper-image__hero .tech {
    display: none;
  }

  .wrapper-image__hero .atom-left {
    width: 42vw;
    top: 43vh;
    left: 6vw;
  }

  .wrapper-image__hero .laptop-image {
    top: 39vh;
    left: 8vw;
  }

  .wrapper-image__hero .search-image {
    top: 70vh;
    left: 22vw;
  }

  .wrapper-image__hero .globe-image {
    top: 77vh;
    right: 7vw;
    width: 19vw;
  }

  .flex-img .hero-image {
    width: 35vw;
  }
}

@media only screen and (max-width: 768px) {
  /* ======= Navbar ========= */
}

@media only screen and (max-width: 576px) {

  /* ======= Navbar ========= */
  .navbar-brand img {
    width: 25vw;
  }

  .navbar-light .navbar-toggler {
    font-size: 1.5em;
    font-size: 4.4vw;
  }

  .navbar-expand-lg .navbar-nav {
    margin-top: 4vw;
  }

  .navbar-expand-lg .nav-item {
    margin-top: 1.5vw;
  }

  li>.nav-link {
    font-size: 3.4vw;
  }

  .button-contact .btn-list {
    padding: 2vw 0;
    height: 8.6vw;
    font-size: 2.5vw;
  }

  /* ========== Section Hero ========== */
  .wrapper-image__hero .absolute-image {
    width: 20vw;
  }

  .wrapper-image__hero .atom-left {
    width: 41vw;
    top: 45vh;
    left: 6vw;
  }

  .wrapper-image__hero .laptop-image {
    top: 39vh;
    left: 8vw;
  }

  .wrapper-image__hero .search-image {
    top: 72vh;
    left: 16vw;
  }

  .wrapper-image__hero .globe-image {
    top: 84vh;
    right: 7vw;
    width: 21vw;
  }

  .flex-img .hero-image {
    width: 45vw;
  }
}